:root {
--color-black: #01161E;
--color-blue: #124559;
--light-blue: #598392;
--color-grey: #AEC3B0;
--color-white: #EFF6E0;
}

#navBar {
  background-color: var(--light-blue);
}

#navBrand {
  color:var(--color-grey);
}

#navLink {
  color:var(--color-white);
}

#basic-nav-dropdown {
  color: var(--color-white);
}

#travLogo {
  width:5vw;
}